# Node dependencies
node_modules/

# Production build
dist/

# Environment variables
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# System / IDE files
.DS_Store
.vscode/
.idea/
